<div style="display: flex;justify-content: flex-end;">
<button type="button" class="btn btn-primary" (click)="goBack()"> Go Back</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" (click)="addRecord('Tushar')">Tushar</button>
      <button type="button" (click)="addRecord('Tractor')">Tractor</button>
     
    
      

    </div>
  </div>
  <div class="row" style="font-size: 14px;">
    
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">Transaction Alias</div>
        <mat-form-field class="col-md-3">
          <mat-select placeholder="Select" [(ngModel)]="task.transaction_type">
            <mat-option value="crops">Crop Details</mat-option>
            <mat-option value="workers">Worker Details</mat-option>
            <mat-option value="tractor">Tractor Details</mat-option>
            <mat-option value="personal">Personal Details</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    <div class="row">
      <div class="col-md-4">Name: </div>
      <mat-form-field class="col-md-8">
        <input matInput placeholder="Enter Name" [(ngModel)]="task.name">
      </mat-form-field>
    </div>
    
    <div class="row">
      <div class="col-md-4">Date</div>
      <mat-form-field class="col-md-8">
        <input matInput [(ngModel)]="task.date" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-md-4">Work Type</div>
      <mat-form-field class="col-md-8">
        <input matInput placeholder="Work Type" [(ngModel)]="task.workType">
      </mat-form-field>
    </div>
    
    <div class="row">
      <div class="col-md-4">Amount</div>
      <mat-form-field class="col-md-8">
        <input matInput placeholder="Amount" [(ngModel)]="task.amount">
      </mat-form-field>
    </div>
    
    
    <div class="row">
      <div class="col-md-4">Description</div>
      <mat-form-field class="col-md-8">
        <textarea matInput placeholder="Description...." [(ngModel)]="task.description"></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-md-4">Payment Status</div>
      <mat-form-field class="col-md-3">
        <mat-select placeholder="Select" [(ngModel)]="task.pay_status">
          <mat-option value="pending">Pending</mat-option>
          <mat-option value="completed">Completed</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <style>
        .btncss {
          width: 15%;
          margin: 0 10px;
          font-size: 14px;
        }
      </style>
    <div class="row">
      <div class="col-md-12" style="display: flex; justify-content: center;">
        <button type="button" (click)="addTask(task)" class="btn btn-success btncss">Add</button>
        <button type="button" (click)="clearTask()" class="btn btn-danger btncss">Clear</button>
        <button type="button" (click)="updateTask(task)" class="btn btn-primary btncss">Update</button>
        
      </div>
    </div>
      
    </div>
  </div>
</div>
